body {
  background-color: #fafafa;
}

.container {
  margin-top: 32px;
  text-align: center;
}

.title {
  text-decoration: none;
  color: #000000;
  opacity: 0.5;
  transition: opacity ease-out 0.5s;
  font-size: 32px;
}

.title:hover {
  opacity: 1;
}

.error {
  color: #ff0000;
}

.cards {
  margin-top: 16px;
  width: 100%;
}
